.site-wrapper {
    width: 100%;
    max-width: 1432px;
    margin: 0 auto; 
    position: relative;
}

.site-header {
    position: absolute;
    width: 100%;
    padding: 10px 5px; 
    background: transparent;
    display: flex;
    z-index: 10;
    justify-content: center; 
    align-items: center; 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; 
    max-width: 1200px; 
}
.header-logo img {
    max-height: 50px; 
    flex-shrink: 0;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.header-buttons .custom-button {
    font-family: 'Segoe UI';
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #000000; 
    padding: 6px 16px;
    border-radius: 6px;
    background-color: #00F3FF; 
    text-decoration: none; 
    margin-left: 10px; 
    display: flex;
    align-items: center;
    gap: 8px; 
}

.header-buttons .custom-button:nth-of-type(1) {
    background-color: transparent; 
    color: #00F3FF; 
}
